@charset "utf-8";
.style1 {
	font-size: large;
	font-style: italic;
}

.style4 {
	font-family: Calibri, Garamond, "Times New Roman";
	font-size: medium;
	font-weight: normal;
}

a:active {
	color: #964808;
}

a:visited {
	color: #964808;
}

/* CSS Document */

a:link {
	color: #431718;
}
